main {
  //   background-color: yellow;
  display: flex;
  overflow-y: auto;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px;
}

.contentheader {
  padding: 5% 0;
  width: auto;
}

.contenttext {
  width: 80%;
  justify-content: center;
  //   border: solid;
  //   border-color: black;
}
